{% extends 'base.html.j2' %}



      {% block title %}
    microPhoneHome
      {% endblock %}
{% block content %}
<h1>Welcome to microPhoneHome!</h1>
<div class="d-flex flex-wrap bd-highlight mb-3">
{% for mic in mics %}
    
    <div class="card mb-3" style="max-width: 350px;">
    <div class="row g-0">
        <div class="col-md-5">
        
        <img src="{{ mic.get_image_url() }}" class="img-fluid rounded-start" alt="avatar">
        
        </div>
        <div class="col-md-7">
        <div class="card-body">
            <h5 class="card-title">{{mic.brand}} {{mic.name}}</h5>
            <p class="card-text">${{mic.price}}</p>
            
        <a href="/info/{{mic.id}}" class="btn btn-info">Details</a>
            

        </div>
        </div>
    </div>
    </div>
    
{% endfor %}
</div>

{% endblock %}

